<h1>Listing health_tips</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Tip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @health_tips.each do |health_tip| %>
      <tr>
        <td><%= health_tip.category %></td>
        <td><%= health_tip.tip %></td>
        <td><%= link_to 'Show', health_tip %></td>
        <td><%= link_to 'Edit', edit_health_tip_path(health_tip) %></td>
        <td><%= link_to 'Destroy', health_tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Health tip', new_health_tip_path %>
